<div class='country__card'>
    <img class="country-flag" src="{{flags.svg}}" alt="country-flag" width="100">
    <h2 class='country-name'>{{name}}</h2>
    <ul class='country-info list'>
        <li class="country-info-item">
            <p class="capital">Самый большой и классный город: {{capital}}</p>
        </li>
        <li class="country-info-item">
            <p class="population">Количество местных: {{population}}</p>
        </li>
        <li class="country-info-item">
            <p class="languages">Язык местного взаимопонимания: {{languages}}
            </p>
        </li>
    </ul>
</div>